* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
}

svg {
    transform: rotate(-90deg);
}

circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.bg {
    stroke: #eee;
}

.progress {
    stroke: #5f0072;
    stroke-dasharray: 422;
    /* circumference */
    stroke-dashoffset: 422;
    transition: 0.5s;
}

.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
}