@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: all 0.3s ease;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;

}

.Navlinks {

    position: relative;
}

.Navlinks ul {
    display: flex;

}

.Navlinks li {
    list-style: none;
    padding: 0 20px;
}

.Navlinks a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    /* 🔥 IMPORTANT */
}

.Navlinks a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    /* 🔥 better position */
    height: 2px;
    width: 0%;
    background: #088178;
    /* 🔥 FIX */
    transition: 0.3s;
    /* 🔥 FIX */
}

.Navlinks a:hover::after {
    width: 100%;
}

.Navlinks a.active {
    color: #088178;
}

.Navlinks a.active::after {
    width: 50%;
}

#hero {
    background-image: url(img/hero4.png);
    background-size: cover;
    /* background-position: center; */
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;



}

#hero h4 {
    font-size: 21px;
    color: #1a1a1a;
    margin-bottom: 15px;
}

#hero h1 {
    font-size: 48px;
    color: #099178;
    margin-bottom: 20px;
}

#hero h2 {
    margin-bottom: 9px;
    font-size: 2.8rem;
}

#hero p {
    color: #1a1a1a;
}

#hero button {
    background-image: url(img/button.png);
    border: 0;
    color: #088178;
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 6px;
    background-repeat: no-repeat;


}

#feature {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

#feature .fe-box {
    text-align: center;
    margin-top: 40px;
    flex-direction: column;
    border: 1px solid #cce7d0;
    padding: 14px 8px;
    border-radius: 8px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.closeHam {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.footer_logo {
    width: 12vw;
    margin-bottom: 25px;
}

.fe-box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.fe-box img {
    width: 100%;
    margin-bottom: 17px;
}

.fe-box h6 {
    font-size: 16px;
    color: #1a1a1a;
    margin-bottom: 12px;
    color: #088178;
}

.fe-box:nth-child(2) h6 {
    background-color: #ffc3c3;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto 12px;
}

.fe-box:nth-child(1) h6 {
    background-color: #c3ffed;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto 12px;
}

.fe-box:nth-child(3) h6 {
    background-color: #c3e6ff;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto 12px;
}

.fe-box:nth-child(4) h6 {
    background-color: #fff5c3;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto 12px;
}

.fe-box:nth-child(5) h6 {
    background-color: #ffc3fa;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto 12px;
}

.fe-box:nth-child(6) h6 {
    background-color: #dec3ff;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto 12px;
}

#product1 {
    text-align: center;
}

#product1 h2 {
    font-size: 3rem;
}

#product1 p {
    color: #1a1a1a;
    margin-bottom: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    padding: 10px 0;
    text-align: start;

}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;

}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    font-size: 15px;
    padding-top: 7px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .Cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    font-weight: 500;
    color: #088178;
    background-color: #c8f6ea;
    text-align: center;
    position: absolute;
    bottom: 13px;
    right: 10px;
    border: 1px solid #cce7d0;
}

.pro-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Banner Section */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
}

#banner h2 {
    font-size: 30px;
    padding: 10px 0;
    color: #fff;
}

#banner h2 span {
    color: #ef3636;
}

#banner h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 15px;
}

#banner button:hover {
    background-color: #088178;
    columns: #fff;
}


#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: left; */
    background-image: url(img/banner/b17.jpg);
    height: 50vh;
    padding: 30px;
    background-position: center;
    background-size: cover;
    flex: 1;
    gap: 9px;
    /* 🔥 Important */
    min-width: 48%;
    /* 🔥 Important */
}

#sm-banner .banner-box:nth-child(2) {
    background-image: url(img/banner/b10.jpg);
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* text-align: left; */
    background-image: url(img/banner/b7.jpg);
    height: 30vh;
    padding: 20px;
    background-position: center;
    background-size: cover;
    /* flex: 1; */
    gap: 9px;
    /* 🔥 Important */
    min-width: 30%;
    /* 🔥 Important */
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url(img/banner/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

/* newsletter */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
    margin-top: 12px;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

footer .col {
    flex: 1;
    /* Equal width for all 4 columns */
    display: flex;
    flex-direction: column;
}

footer .col h4 {
    margin-bottom: 15px;
}

footer .col a {
    text-decoration: none;
    color: #222;
    margin-bottom: 8px;
    font-size: 14px;
}

footer .col p {
    padding: 3px 0;
    color: #818ea0;
    font-size: 14px;
}

footer .col p strong {
    color: #000;
}

footer .follow {
    margin-top: 15px;
}

footer .follow i {
    color: #465b52;
}

footer .install {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .install .row {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .install .row img {
    width: 120px;
    border: 1px solid #088178;
    border-radius: 6px;
    padding: 3px;
}

footer .install img {
    margin-top: 5px;
    width: 180px;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
    transition: all 0.3s ease;
}

#mobile {
    display: none;
}

#mobile i {
    font-size: 24px;
    cursor: pointer;
}

.Buttons {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 20px;
}

.Buttons button {
    background-color: #088178;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 799px) {
    #mobile {
        display: block;
    }
}

@media (max-width: 799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    /* Navbar */
    .Navlinks {
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 20px;
        transition: 0.3s;
    }

    .closeHam {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .Navlinks ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .Navlinks li {
        margin-bottom: 25px;
    }

    .Navlinks.active {
        right: 0;
    }

    /* Hero */
    #hero {
        height: 70vh;
        padding: 0 40px;
        background-position: top 30% right 30%;
    }

    /* Products */
    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    /* Banners */
    #sm-banner {
        flex-direction: column;
    }

    #banner3 {
        padding: 0 40px;
    }

    /* Newsletter */
    #newsletter .form {
        width: 70%;
    }

    /* Footer */
    footer {
        flex-wrap: wrap;
    }

    footer .col {
        flex: 50%;
        margin-bottom: 20px;
    }
}

/* mobile */
@media (max-width: 477px) {

    .section-p1 {
        padding: 20px;
    }

    .nav {
        padding: 10px 20px;
    }

    /* Hero */
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    .closeHam {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    #hero h1 {
        font-size: 32px;
    }

    #hero h2 {
        font-size: 28px;
    }

    /* Feature boxes */
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        width: 150px;
        /* margin: 10px; */
    }

    /* Products */
    #product1 .pro {
        width: 100%;
    }

    /* Banner */
    #banner {
        height: 30vh;
    }

    .banner-box3,
    .banner-box1 {
        width: 100%;
        ;
    }

    /* Newsletter */
    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        margin-top: 15px;
        width: 100%;
    }

    /* Footer */
    footer {
        flex-direction: column;
    }

    footer .footer_logo {
        width: 150px;
        margin-bottom: 20px;
    }

    footer .col {
        width: 100%;
        /* text-align: center; */
        border-bottom: 1px solid #cce7d0;
        padding-bottom: 20px;
    }
}

/* SHOP NOW PAGE CSS */

#page-header {
    height: 40vh;
    background-image: url(img/banner/b1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#page-header h2 {
    font-size: 3rem;
    color: #fff;
}

#page-header p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

/* SINGLE PRODUCT CSS */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
    font-size: 20px;
}

#prodetails .single-pro-details h6 {
    font-size: 17px;
    color: #1a1a1a;
}

#prodetails .single-pro-details h2 {
    padding: 8px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
}

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    outline: none;
}

#prodetails .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
    border: none;
    cursor: pointer;
}

#prodetails .single-pro-details span {
    color: #818ea0;
    line-height: 25px;
    font-size: 17px;
}

@media (max-width: 477px) {

    #prodetails {
        display: flex;
        flex-direction: column;
    }

    #prodetails .single-pro-img {
        width: 100%;
        margin-right: 0;
    }

    #prodetails .single-pro-details {
        width: 100%;
        padding-top: 20px;
    }

    #prodetails .single-pro-details h4 {
        padding: 20px 0 10px 0;
        font-size: 18px;
    }

    #prodetails .single-pro-details h2 {
        font-size: 22px;
    }

    #prodetails .single-pro-details h6 {
        font-size: 15px;
    }

    #prodetails .single-pro-details input {
        width: 40px;
        height: 40px;
    }

    .small-img-group {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    .small-img-col {
        flex-basis: 24%;
    }

    #prodetails .single-pro-details span {
        font-size: 14px;
        line-height: 22px;
    }
}

/* BLOG PAGE CSS */
#page-header.blog-header {
    background-image: url(img/banner/b19.jpg);
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 90px;

}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details h4 {
    font-size: 28px;
    color: #1a1a1a;
    margin-bottom: 10px;
}

#blog .blog-details p {
    color: #818ea0;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 25px;
}

#blog .blog-details a {
    color: #088178;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width: 477px) {

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 60px;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #blog img {
        width: 100%;
        height: auto;
    }

    #blog .blog-details {
        width: 100%;
    }

    #blog .blog-details h4 {
        font-size: 22px;
    }

    #blog .blog-details p {
        font-size: 14px;
        line-height: 22px;
    }

}